.ToolBar{
    position: relative;
    bottom: 0;
}

button{
    margin: 0.4rem;
    padding:10px;
}

button img{
    width: 2rem;
    height: 2rem;
}

button.tool:hover{
    background-color: #689d6a;
    border-color: #ebdbb2;
}

button.active-tool{
    background-color: #8ec07c;
    border-color: #698d6a;
}
